<h1>Login</h1>

<%= form_for :user do |f| %>
    <%= f.label :email %><br />
    <%= f.email_field :email %><br /><br />

    <%= f.label :password %><br />
    <%= f.password_field :password %><br /><br />

    <%= f.submit "Login" %>
<% end %>

<br />
<br />

<a class="btn btn-primary" href="/auth/facebook" role="button">Login with Facebook</a>