<% if @menu.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@menu.errors.count, "error") %>:
    </h3>
 
    <ul>
    <% @menu.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @menu do |f| %>

    <%= f.label :restaurant_id %><br />
    <%= f.collection_select :restaurant_id, current_user.restaurants, :id, :name %><br /><br />

    <%= f.label :name %><br />
    <%= f.text_field :name %><br /><br />

    <%= f.label :description %><br />
    <%= f.text_area :description %><br /><br />

    <%= f.submit %>
<% end %>

<%= button_to "Cancel", menus_path, method: "get" %>