<h1><%= link_to @menu.restaurant.name, @menu.restaurant %></h1>

<h2>Menu: <%= @menu.name %></h2>

<p><%= @menu.description %></p>

<% @menu.categories.uniq.each do |category| %>
        <h3><%= link_to category.name, category %></h3>
        <% category.items.each do |item| %>
            <% if item.menu == @menu %>
                <%= link_to item.name, item %>
                <%= number_to_currency(item.price) %><br />
            <% end %>
        <% end %><br />
<% end %>

<br />
<br />

<%= link_to "Edit Menu", edit_menu_path(@menu) %> | <%= link_to "Add Item to Menu", new_menu_item_path(@menu) %>