<h1><%= @menu.restaurant.name %></h1>
<h2>Menu: <%= @menu.name %></h2>

<p>
<%= @menu.description %>
</p>

<ul>
<% @menu.categories.uniq.each do |category| %>
    <li>
        <b><%= link_to category.name, category %></b><br />
        <% category.items.each do |item| %>
            <%= link_to item.name, item %><br />
        <% end %>
    </li>
<% end %>
</ul>

<br />
<br />

<%= link_to "Edit", edit_menu_path(@menu) %> | <%= link_to "Add Item to Menu", new_menu_item_path(@menu) %>

<br />
<br />

<div>
<%= link_to "Back to #{@menu.restaurant.name}", @menu.restaurant %> | <%= link_to "All Menus", menus_path %>
</div>