<h1>Welcome, <%= @user.name %>!</h1>
Email: <%= @user.email %>
<br />
User ID or Facebook UID: <%= @user.id %>
<br />

<h2>Restaurants</h2>
<ul>
<% @user.restaurants.each do |r| %>
    <li>
        <%= r.name %><br />
        <% r.menus.each do |menu| %>
            <%= menu.name %>, 
        <% end %>
    </li>
<% end %>
</ul>

<br />
<br />
<%= link_to "Logout", logout_path %>