<h1>Welcome, <%= @user.name %>!</h1>

<div>
<h3>
<%= link_to "+ Restaurant", new_restaurant_path %>
<br />
<%= link_to "+ Menu", new_menu_path %>
<br />
<%= link_to "+ Category", new_category_path %>
<br />
<%= link_to "+ Item", new_item_path %>
</h3>
</div>

<div>
<h3>
<%= link_to "Items without Prices", items_no_price_path %>
<br>
<%= link_to "Recently Updated Items", items_recently_updated_path %>
</h3>
</div>