<h1>Welcome, <%= @user.name %>!</h1>

<div>
<h3>
<%= link_to "+ Restaurant", new_restaurant_path %>
<br />
<%= link_to "+ Menu", new_menu_path %>
<br />
<%= link_to "+ Category", new_category_path %>
<br />
<%= link_to "+ Item", new_item_path %>
</h3>
</div>