<h1>Welcome, <%= @user.name %>!</h1>
Email: <%= @user.email %>
<br />
User ID: <%= @user.id %>
<br />

<h2>Restaurants</h2>
<ul>
<% @user.restaurants.each do |r| %>
    <li>
        <%= link_to r.name, r %><br />
        <% r.menus.each do |menu| %>
            Menu: <%= link_to menu.name, menu %>
        <% end %>
    </li>
<% end %>
</ul>

<br />
<br />
<%= link_to "Logout", logout_path %>