<h1><%= @restaurant.name %></h1>

<div>
<b>Cuisine: </b><%= @restaurant.cuisine %><br />
<b>Address: </b><%= @restaurant.address %><br />
<b>Hours: </b><%= @restaurant.hours %><br />
<b>Phone Number: </b><%= number_to_phone(@restaurant.phone_number) %>
</div>

<h3>Menus</h3>
<% @restaurant.menus.each do |menu| %>
        <%= link_to menu.name, menu %><br>
<% end %>

<br />
<br />
<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>