<br>
<div>
<%= link_to @item.menu.restaurant.name, @item.menu.restaurant %> / <%= link_to @item.menu.name, @item.menu %> / <%= link_to @item.category.name, @item.category %>
</div>

<div>
<%= image_tag(@item.image) %>
</div>

<h1><%= @item.name %></h1>

<div>
<%= number_to_currency(@item.price) %><br />
<%= @item.description %><br />
</div>

<br />
<br />

<%= link_to "Edit Item", edit_item_path(@item) %>