<% if @category.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4>
      <%= pluralize(@category.errors.count, "error") %>:
    </h4>
 
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @category do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br /><br />

    <%= f.submit %>
<% end %>
<br />
<%= button_to "Cancel", categories_path, method: "get" %>