<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantMenu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Restaurant Menu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= user_path(current_user) %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= restaurants_path %>">Restaurants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= menus_path %>">Menus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= categories_path %>">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= items_path %>">Items</a>
          </li>
        </ul>
        <span class="navbar-text">
          <%= current_user.name %> | <%= link_to "Logout", logout_path, method: :delete %>
        </span>
      </div>
      </nav>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="sidebar">
            <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
            <a class="btn btn-link" href="<%= new_restaurant_path %>" role="button">+ Restaurant</a>
            <a class="btn btn-link" href="<%= new_menu_path %>" role="button">+ Menu</a>
            <a class="btn btn-link" href="<%= new_category_path %>" role="button">+ Category</a>
            <a class="btn btn-link" href="<%= new_item_path %>" role="button">+ Item</a>
            </div>
          </div>
        </div>

        <div class="col-sm-9">

          <br>
          <% if flash.any? %>
          <div class="alert alert-warning" role="alert">
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: name %>
            <% end -%>
          </div>
          <% end %>
    
          <%= yield %>

        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
